<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
     <body style="margin: 0"><script type="text/javascript" src="js/audio-devices.js"></script>
        <h2>template</h2>
        <a href="https://tarek-bg.github.io/web/webtest/template/catalog_xsl/catalog_with_xsl.xml">catalog_with_xsl?</a><br>
        <a href="https://tarek-bg.github.io/web/webtest/template/Dompars/Dompars.html">Dompars?</a><br>
        <a href="https://tarek-bg.github.io/web/webtest/template/Handlebars/">Handlebars?</a><br>
        <a href="https://tarek-bg.github.io/web/webtest/template/jquery/edfreejqgrid.html">edfreejqgrid.html?</a><br>
        <a href="https://tarek-bg.github.io/web/webtest/template/readXML/read_xml.html">read_xml.html?</a><br>
     </body>
</html>
