<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Handlebars</title>
  <link rel="stylesheet" href="css/styles.css">
      <script src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
 
</head>
<body>
  <h2>link to loc data & view02 how</h2>
  <a href="https://www.youtube.com/watch?v=wSNa5b1mS5Y">FreejqGrid?</a><br>
  <div class="page-wrap">
    <h1>Handlebars Tutorial</h1>
  
    <div id="pets-container">  
    
                  <script type="text/x-handlebars-template">              
                         {{! this is a comment}}
                {{#each pets}}
                <div class="pet">
                  <div class="photo-column">
                    <h2>Photos</h2>
                    <img src="{{photo}}">
              
                    <video controls width="250">
                        <source src="{{video}}" type="video/webm" />
                    </video>
              
              
              
                    
                  </div>

                  <div class="info-column">
                    <h2>{{name}} <span class="species">({{species}})</span></h2>
              
                    <p>Age: {{calculateAge birthYear}}</p>
              
                    {{#if favFoods}}
                    <h4 class="headline-bar">Favorite Foodss</h4>
                    <ul class="favorite-foods">
                      {{#each favFoods}}
                        <li>{{{this}}}</li>
                      {{/each}}
                    </ul>
                    {{/if}}
              
                  </div>
                </div>
              {{/each}}
            </script>
            <div id="output">

            </div>
    </div>
  </div>

  <!--script src="js/main-bundled.js"></script-->
  <script src="js/mainV.js"></script>

</body>
</html>