<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Parse xml with JavaScript</title>
</head>
<body>
    <script>
        let xmlContent = '';
        let tableBooks = document.getElementById('books');
        fetch('books.xml').then((Response)=>{
            Response.text().then((xml)=>{

            });
        });
       // const xmlString ="aaaaa";
       // const XMLDocument=new DomParser().parseFromString(xmlString, "text/xml");
        //console.log(XMLDocument);

    </script>
</body>
</html>