<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Parse xml with JavaScript</title>
</head>
<body>
    <div id='content'>
        <table id='cars' cellpadding='10px' style="text-align:let;">
            <thead>
                <tr>
                    <th>Manufacturer</th>
                    <th>date</th>
                    <th>Model</th>
                </tr>
            </thead> 
            <tbody>

            </tbody>  
        </table>
    </div>

<script>
        let xmlContent = '';
        let tableCars = document.getElementById('cars');
        fetch('carsM.xml').then((Response)=>{
            Response.text().then((xml)=>{
                xmlContent = xml;
                    let parser = new DOMParser();
                    let xmlDOM = parser.parseFromString(xmlContent,'application/xml');
                   let cars = xmlDOM.querySelectorAll('car');

                   cars.forEach(bookXmlNode =>{
                        let row =document.createElement('tr');

                        //Manufacturer
                        let td = document.createElement('td');
                        td.innerText= bookXmlNode.children[0].innerHTML;
                        row.appendChild(td);

                        //date
                        td = document.createElement('td');
                        td.innerText= bookXmlNode.children[1].innerHTML;
                        row.appendChild(td);

                        //Model
                        td = document.createElement('td');
                        td.innerText= bookXmlNode.children[2].innerHTML;
                        row.appendChild(td);
                    tableCars.children[1].appendChild(row);
                   })
            });
        });
       // const xmlString ="aaaaa";
       // const XMLDocument=new DomParser().parseFromString(xmlString, "text/xml");
        //console.log(XMLDocument);

    </script>
</body>
</html>