<!DOCTYPE html>
<html>
    <head>
        <script src="handlebars_vid.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/cjs/handlebars.min.js"></script>

    </head>
    <body onload="init()">
        <script type="text/x-handlebars-template" id="template">
            {{{{def name="meaningless"}}}}
            stuff! {{thing}}
            {{{{/def}}}}
            thing and {{> meaningless}} and {{thing}}
        </script>
        <div id="output">

        </div>
        
    </body>
</html>